@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
.bar{
    width:650px;
    background:white;
    box-shadow:0 0 5px hsl(0 0% 78%);
    height:90px;
    border-radius:100vw;
    display:flex;
    justify-content:center;
    font-size:.8rem;
    font-weight:500
  }
  .bar div{
    border-radius:inherit;
    padding:0.8rem 2rem;
    transition: background 250ms ease;
  }
  .guests span{
    position:absolute;
    top:50%;
    right:0px;
    transform:translateY(-50%);
    background:#329a9a;
    color:white;
    font-size:0.8rem;
    padding:1rem;
    border-radius:50%;
    cursor:pointer;
  }
  @media only screen and (max-width:768px) {
    .bar{
        width:350px;
    }
    .bar div{
        padding:0.8rem .1rem;
    }
    .location{
        width:35%
    }
    .locationInput{
        margin-left: 10px;
    }
    .guests span{
        padding:.5rem
    }
  }
  
  
  .bar .location:hover,.guests:hover, .check-in:hover,.check-out:hover{
    background:hsl(0 0% 94%);
  }
  
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  
  .locationInput {
    width:100%
  }
  .check-in, .check-out, .guests{
    width:22%;
  }
  
  input[type="text"]{
    background:none;
    border:none;
    padding:0.2rem 0 0 0;
  }
  
  input[type="text"]:focus{
    outline:none;
  }
  
  ::placeholder{
    font-size:0.75rem;
  }
  
  .guests{
    position: relative;
    cursor: pointer;
  }
  
  
  .bar>div{
    position:relative;
  }
  
  .bar>div::before{
    position:absolute;
    content:"";
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:55%;
    background:hsl(0 0% 90%);
  }
  
  .bar>div:nth-of-type(1)::before{
     background:transparent;
  }
  
  
  .bar>div:hover::before{
    background:transparent;
  }

#svgBars{
    -webkit-text-size-adjust: 100%;
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0,0,0,0.28);
    --g-r-n-ycy: 1px solid rgba(0,0,0,0.04);
    --ih-jiz-p: 0 6px 20px rgba(0,0,0,0.2);
    --cglwe-y: 1px solid rgba(0,0,0,0.04);
    --cizosd: 0 6px 16px rgba(0,0,0,0.12);
    --cb-k-zk-c: 1px solid rgba(0,0,0,0.04);
    --e-swdx-p: 0 2px 4px rgba(0,0,0,0.18);
    --g-fi-y-r-e: 1px solid rgba(0,0,0,0.08);
    --itr-yy-z: cubic-bezier(0.2,0,0,1);
    --c-wky-h-p: 1px;
    --hzee-ha: 175px;
    --gracgr: 26px;
    --e-usyia: cubic-bezier(0.1,0.9,0.2,1);
    --hb-n-kc-m: 1px;
    --ikro-f: 300px;
    --h-m-d-zo-y: 35px;
    --f-w-xhiy: cubic-bezier(0.4,0,1,1);
    ---sof-io: 1px;
    --cll-sox: 300px;
    --kf-r-nu-y: 35px;
    --inwig-v: 1px;
    --ien-u-go: 250px;
    --d-kmbxx: 22px;
    --j-cm-lxz: cubic-bezier(0,0,1,1);
    --f-ya-ggj: cubic-bezier(1,0,0.86,1);
    --bd-d-m-c-q: cubic-bezier(0,0,0.1,1);
    ---bz-mmq: cubic-bezier(0.35,0,0.65,1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #B0B0B0;
    --j-qkgmf: #DDDDDD;
    --d-nc-lt-s: #EBEBEB;
    ---pc-g-v-g: #F7F7F7;
    --f-mkcy-f: #FFFFFF;
    --k-va-tnc: #C13515;
    --cnr-vp-o: #B32505;
    --f-p-k-v-lb: #FFF8F6;
    --fhi-qn-u: #E07912;
    --k-ff-my-a: #008A05;
    --ldbkp-d: #428BFF;
    --ihf-tp-q: #FF385C;
    --cl-yygv: #E00B41;
    --kd-lqtg: #92174D;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    --bb-gov-t: linear-gradient(to left,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    --d-e-vybb: radial-gradient(circle at center,#FF385C 0%,#E61E4D 27.5%,#E31C5F 40%,#D70466 57.5%,#BD1E59 75%,#BD1E59 100%);
    --gj-z-dpd: linear-gradient(to right,#BD1E59 0%,#92174D 50%,#861453 100%);
    --fb-hdaf: linear-gradient(to left,#BD1E59 0%,#92174D 50%,#861453 100%);
    --i-n-t-h-mj: radial-gradient(circle at center,#D70466 0%,#BD1E59 30%,#92174D 55%,#861453 72.5%,#6C0D63 90%,#6C0D63 100%);
    --iqds-nv: linear-gradient(to right,#59086E 0%,#460479 50%,#440589 100%);
    --dy-k-qzx: linear-gradient(to left,#59086E 0%,#460479 50%,#440589 100%);
    --j-m-v-dtd: radial-gradient(circle at center,#6C0D63 0%,#59086E 30%,#460479 55%,#440589 72.5%,#3B07BB 90%,#3B07BB 100%);
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --jlvl-j-l: 12px;
    --j-l-x-t-kw: 16px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
    --linaria-theme_motion-enter-curve-animation-timing-function: linear( 0,0.01942 1.83%,0.07956 4.02%,0.47488 13.851%,0.65981 19.572%,0.79653 25.733%,0.89048 32.693%,0.95081 41.254%,0.98361 52.535%,0.99665 68.277%,0.99988 );
    --linaria-theme_motion-exit-curve-animation-timing-function: linear( 0,0.01942 1.83%,0.07956 4.02%,0.47488 13.851%,0.65981 19.572%,0.79653 25.733%,0.89048 32.693%,0.95081 41.254%,0.98361 52.535%,0.99665 68.277%,0.99988 );
    --linaria-theme_motion-standard-curve-animation-timing-function: linear( 0,0.02044 2.46%,0.08322 5.391%,0.46561 17.652%,0.63901 24.342%,0.76663 31.093%,0.85981 38.454%,0.92965 47.845%,0.97154 59.516%,0.99189 74.867%,0.9991 );
    --vh: 5.4px;
    --vw: 9px;
    --vw-unitless: 900;
    --vw-px: 900px;
    -webkit-font-smoothing: antialiased;
    line-break: strict;
    --view-transition-name: none;
    --gp-section-compact-padding: 32px !important;
    --gp-section-compact-padding-condensed: 16px !important;
    --gp-section-standard-padding: 48px !important;
    --gp-section-standard-padding-condensed: 24px !important;
    --dls19-brand-color: var(--ihf-tp-q);
    --dls19-ui-brand-color: var(--f-k-smk-x);
    --dls19-pdp-listing-title-weight: var(--jx-zk-pv);
    --dls19-pdp-listing-title-size: var(--g-zgv-nj);
    --dls19-pdp-listing-title-line-height: var(--b-x-z-q-l-e);
    --dls19-brand-gradient: var(--dc-gy-f-v);
    --dls19-brand-gradient-radial: var(--d-e-vybb);
    --dls19-brand-gradient-accent: var(--ihf-tp-q);
    --page-shell-max-content-width: 2520px;
    --gp-sidebar-top-padding: 0;
    --explore-nav_box-shadow-spread: 4px;
    --explore_padding-inline: 40px;
    --explore-nav_padding-block-start: 20px;
    --header_brand-color: var(--ihf-tp-q);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    user-select: auto;
    color: var(--f-k-smk-x);
    cursor: pointer;
    text-align: inherit;
    box-sizing: border-box;
    display: block;
    fill: none;
    height: 16px;
    width: 16px;
    stroke: currentcolor;
    stroke-width: 3;
    overflow: visible;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.amenity-item {
  display: flex;
  align-items: center;
}

.filterAttribute{
    flex: 1;
}

.houseFiltersImg{
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    object-fit: cover; /* Adjust image aspect ratio if necessary */
}